* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
   
}
div {
    margin-top: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;

}
p {
    text-align: center;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    position: relative;

}

button {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    top: 40px;
    width: 400px;
    height: 200px;
    background-color:white;
    font-size:100;
    color: purple;
    font-size: 30px;
    
}